* {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    font-family: 'Segoe UI', sans-serif;
    caret-color: transparent;
}

body {
    background-color: #222831;
    height: 90rem;
}

.mainTasksHeading {
    display: block;
    color: #EEEEEE;
    font-size: 2.5rem;
    margin-top: 2rem;
}


.taskContainerFlexBox {
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectContainer {
    background-color: #31363F;
    width: max-content;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: max-content;
    margin-top: 0.5rem;
}

.rectContainerHeadingMain {
    font-size: 2.2rem;
    color: #EEEEEE;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-weight: 450;
}

.rectContainerTaskName {
    color: #EEEEEE;
    font-size: 1.3rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-left: 1rem;
}

.rectContainerTaskName li{
    display: block;
    text-align: left;
    height: 4.7rem;

}

.rectContainerTaskName li p{
    vertical-align: top;
    text-align: left;
}

.rectContainerTimeLeft {
    color: #FDFF97;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 8rem;
    margin-left: 1rem;
}

.rectContainerTimeLeft li{
    display: block;
    text-align: left;
    height: 4.7rem;

}

.rectContainerTimeLeft li p{
    vertical-align: top;
    text-align: left;
    margin-top: 0.4rem;
}

.rectContainerCompleteButton {
    color: #EEEEEE;
    font-size: 1.7rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

.rectContainerCompleteButton li{
    display: block;
    text-align: left;
    height: 4.7rem;
}

.rectContainerCompleteButton li i{
    text-align: left;
    vertical-align: top;
    margin-top: 0.2rem;
}

.rectContainerContentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.rectContainerExtrasContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.rectContainerExtendList {
    color: #EEEEEE;
    font-size: 1rem;   
    margin-bottom: 2.2rem;
    margin-left: 1rem;
}


.addTaskButton {
    display: flex;
    color: #80F8FF;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-right: 2rem;
}

.addTaskButtonPlusIcon {
    padding: 0.5rem;
}

.addTaskButtonMainText {
    font-size: 1.3rem;
}

.fa-trash {
    font-size: 1.1rem;  
}

.fa-circle-xmark {
    font-size: 1.3rem;
}










.mainAnalyticsHeading {
    display: block;
    color: #EEEEEE;
    font-size: 2.5rem;
    margin-top: 5rem;
}

.analyticsContainer {
    margin-top: 2rem;
    margin-left: 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.analyticsRectContainer {
    background-color: #1C2028;
    width: max-content;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3rem;

}

.analyticsRectContainerTitleContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
    width: 20rem;
    margin-left: 0.5rem;
}

.titleContainerTitleData {
    font-size: 1.4rem;
    color: #EEEEEE;
    margin-right: 2rem;
}

.titleContainerTotalData {
    font-size: 1rem;
    color: #5FFF52;
}

.titleContainerChangeData {
    font-size: 1rem;
    color: #9FFF97;
    margin-right: 1rem;
}

.analyticsRectContainerBackDatesContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.8rem;
    padding-bottom: 2rem;
}

.backDatesContainerRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.backDatesContainerDateData {
    display: block;
    font-size: 1rem;
    color: #EEEEEE;
}

.backDatesContainerTotalData {
    font-size: 0.9rem;
    color: #5FFF52;
    text-align: left;
}

.backDatesContainerDateData p {
    text-align: left;
    
}




@media (max-width: 1300px) {
    .rectContainerTaskName {
        font-size: 1.2rem;
        width: 8rem;
        margin-left: 0.6rem;
    }
    .rectContainerTaskName li{
        height: 4.3rem;
    }
    .rectContainerTimeLeft {
        width: 6rem;
        font-size: 0.8rem;
        margin-left: 0.5rem;
    }
    .rectContainerTimeLeft li{
        height: 4.3rem;
    }
    .rectContainerCompleteButton{
        font-size: 1.3rem;
        margin-right: 0.8rem;
    }
    .rectContainerCompleteButton li{
        height: 4.3rem;
    }
    .fa-trash {
        font-size: 0.85rem; 
    }
    .fa-circle-xmark {
        font-size: 1.1rem;
    }
    .rectContainerHeadingMain {
        font-size: 1.8rem;
        margin-top: 1rem;
        margin-bottom: 2.2rem;
    }
    .rectContainerContentContainer {
        margin-bottom: 0.2rem;
    }
    .rectContainer {
        margin: 1rem;
    }
    .rectContainerExtendList {
        margin-bottom: 2rem;
    }
    .rectContainerExtendList {
        margin-left: 0.7rem;
        margin-bottom: 2rem;
    }
    .addTaskButton {
        margin-right: 1.5rem;
    }
    .addTaskButtonMainText {
        font-size: 1.2rem;
    }






    .analyticsContainer {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin-left: 0rem;
        grid-column-gap: 20px;
    }
    .analyticsRectContainer {
        padding: 0.35rem;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
    }
    .analyticsRectContainerTitleContainer {
        padding-top: 1.5rem;
        margin-bottom: 1rem;
        width: 16rem;
        margin-left: 0.5rem;
    }
    .titleContainerTitleData {
        font-size: 1rem;
        margin-right: 0.9rem;
    }
    .titleContainerTotalData {
        font-size: 0.8rem;
    }
    .titleContainerChangeData {
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
    .analyticsRectContainerBackDatesContainer {
        margin-top: 0.5rem;
        gap: 0.5rem;
        padding-bottom: 1rem;
    }
    .backDatesContainerDateData {
        font-size: 0.9rem;
    }
    .backDatesContainerTotalData {
        font-size: 0.7rem;
    }

}


@media (max-width: 1000px) {
    .rectContainerTaskName {
        font-size: 1rem;
        width: 7rem;
        margin-left: 0.5rem;
    }
    .rectContainerTaskName li{
        height: 4rem;
    }
    .rectContainerTimeLeft {
        width: 5rem;
        font-size: 0.6rem;
        margin-left: 0.4rem;
    }
    .rectContainerTimeLeft li{
        height: 4rem;
    }
    .rectContainerCompleteButton{
        font-size: 1.1rem;
        margin-right: 0.7rem;
    }
    .rectContainerCompleteButton li{
        height: 4rem;
    }
    .fa-trash {
        font-size: 0.75rem; 
    }
    .fa-circle-xmark {
        font-size: 1rem;
    }
    .rectContainerHeadingMain {
        font-size: 1.6rem;
        margin-top: 0.9rem;
        margin-bottom: 2.1rem;
    }
    .rectContainerContentContainer {
        margin-bottom: 0.15rem;
    }
    .rectContainer {
        margin: 0.8rem;
    }
    .rectContainerExtendList {
        margin-bottom: 1.5rem;
    }
    .rectContainerExtendList {
        margin-left: 0.6rem;
        margin-bottom: 1.8rem;
    }
    .addTaskButton {
        margin-right: 1.3rem;
    }
    .addTaskButtonMainText {
        font-size: 1rem;
    }





    .analyticsContainer {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-left: 0rem;
    }
    .analyticsRectContainer {
        padding: 0.35rem;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
    }
    .analyticsRectContainerTitleContainer {
        padding-top: 1.5rem;
        margin-bottom: 1rem;
        width: 16rem;
        margin-left: 0.5rem;
    }
    .titleContainerTitleData {
        font-size: 1rem;
        margin-right: 0.9rem;
    }
    .titleContainerTotalData {
        font-size: 0.8rem;
    }
    .titleContainerChangeData {
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
    .analyticsRectContainerBackDatesContainer {
        margin-top: 0.5rem;
        gap: 0.5rem;
        padding-bottom: 1rem;
    }
    .backDatesContainerDateData {
        font-size: 0.9rem;
    }
    .backDatesContainerTotalData {
        font-size: 0.7rem;
    }

}

@media (max-width: 860px) {
    .mainTasksHeading {
        margin-top: 1.3rem;
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
    }
    .taskContainerFlexBox {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .rectContainer {
        padding: 0.7rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .rectContainerHeadingMain {
        text-align: left;
        font-size: 1.3rem;
        vertical-align: text-top;
        margin-top: 0.3rem;
        margin-bottom: 1rem;
    }
    .rectContainerTaskName {
        font-size: 1rem;
        width: 12rem;
        margin-left: 0.5rem;
    }
    .rectContainerTaskName li{
        height: 3rem;
    }
    .rectContainerTimeLeft {
        width: 10rem;
        font-size: 0.7rem;
        margin-left: 0.2rem;
    }
    .rectContainerTimeLeft li{
        height: 3rem;
    }
    .rectContainerCompleteButton{
        margin-right: 0.7rem;
    }
    .rectContainerCompleteButton li{
        height: 3rem;
    }
    .fa-trash {
        font-size:0.7rem; 
    }
    .fa-caret-right {
        font-size: 1.1rem;
    }
    .fa-circle-xmark {
        font-size: 0.85rem;
    }
    .rectContainerContentContainer {
        margin-bottom: 0.15rem;
    }
    .rectContainer {
        margin: 0rem;
    }
    .rectContainerExtendList {
        margin-left: 0.6rem;
        margin-bottom: 1rem;
    }
    .addTaskButton {
        margin-right: 1.3rem;
    }
    .addTaskButtonMainText {
        font-size: 1rem;
    }





    .mainAnalyticsHeading {
        font-size: 1.7rem;
    }

    .analyticsContainer {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-left: 0rem;
        grid-column-gap: 0px;
    }
    .analyticsRectContainer {
        padding: 0.35rem;
        margin-bottom: 2rem;
        border-radius: 0.3rem;
    }
    .analyticsRectContainerTitleContainer {
        padding-top: 1.5rem;
        margin-bottom: 1rem;
        width: 12rem;
        margin-left: 0.5rem;
    }
    .titleContainerTitleData {
        font-size: 0.9rem;
        margin-right: 0.9rem;
    }
    .titleContainerTotalData {
        font-size: 0.7rem;
    }
    .titleContainerChangeData {
        font-size: 0.7rem;
        margin-right: 0.5rem;
    }
    .analyticsRectContainerBackDatesContainer {
        margin-top: 0.5rem;
        gap: 0.3rem;
        padding-bottom: 1rem;
    }
    .backDatesContainerDateData {
        font-size: 0.8rem;
    }
    .backDatesContainerTotalData {
        font-size: 0.7rem;
    }
}




@media (max-width: 500px) {
    .mainTasksHeading {
        margin-top: 1rem;
        font-size: 1.7rem;
    }
    .taskContainerFlexBox {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .rectContainer {
        padding: 0.7rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .rectContainerHeadingMain {
        text-align: left;
        font-size: 1.3rem;
        vertical-align: text-top;
        margin-top: 0.3rem;
        margin-bottom: 1rem;
    }
    .rectContainerTaskName {
        font-size: 0.8rem;
        width: 8rem;
        margin-left: 0.5rem;
    }
    .rectContainerTaskName li{
        height: 1.5rem;
    }
    .rectContainerTimeLeft {
        width: 6rem;
        font-size: 0.55rem;
        margin-left: 0.2rem;
    }
    .rectContainerTimeLeft li{
        height: 1.5rem;
    }
    .rectContainerCompleteButton{
        margin-right: 0.7rem;
    }
    .rectContainerCompleteButton li{
        height: 1.5rem;
    }
    .fa-trash {
        font-size:0.7rem; 
    }
    .fa-caret-right {
        font-size: 1.1rem;
    }
    .fa-circle-xmark {
        font-size: 0.85rem;
    }
    .rectContainerContentContainer {
        margin-bottom: 0.15rem;
    }
    .rectContainer {
        margin: 0rem;
    }
    .rectContainerExtendList {
        margin-left: 0.6rem;
        margin-bottom: 1rem;
    }
    .addTaskButton {
        margin-right: 1.3rem;
    }
    .addTaskButtonMainText {
        font-size: 1rem;
    }





    .mainAnalyticsHeading {
        font-size: 1.7rem;
    }

    .analyticsContainer {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-left: 0rem;
        grid-column-gap: 0px;
    }
    .analyticsRectContainer {
        padding: 0.35rem;
        margin-bottom: 2rem;
        border-radius: 0.3rem;
    }
    .analyticsRectContainerTitleContainer {
        padding-top: 1.5rem;
        margin-bottom: 1rem;
        width: 8rem;
        margin-left: 0.5rem;
    }
    .titleContainerTitleData {
        font-size: 0.6rem;
        margin-right: 0.9rem;
    }
    .titleContainerTotalData {
        font-size: 0.4rem;
    }
    .titleContainerChangeData {
        font-size: 0.4rem;
        margin-right: 0.5rem;
    }
    .analyticsRectContainerBackDatesContainer {
        margin-top: 0.5rem;
        gap: 0.3rem;
        padding-bottom: 1rem;
    }
    .backDatesContainerDateData {
        font-size: 0.6rem;
    }
    .backDatesContainerTotalData {
        font-size: 0.5rem;
    }
}


